.gridOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.gridTwo {
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;
}
.first-parag {
    background-color: red;
}
.second-parag {
    background-color: blue;
}
.third-parag {
    background-color: yellow;
}
.gridThree {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 500px;
    height: 300px;
    background-color: grey;
}
.image-gridThree img {
    width: 500px;
    height: 225px;
    background-color: yellow;
    object-fit: cover;
}
.gridFour {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    background-color: green;
    
}
#second-gridfour {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.gridfive {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    background-color: grey;
    
}
#second-gridfive {
    display: grid;
    grid-template-columns: 2fr 1fr;

}
#second-gridfive img {
    width: 200px;
    height: 200px;
    object-fit: cover;

}
.gridSix {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 500px;
    background-color: grey;

}
.text {
    font-family: "Sixtyfour", sans-serif;
}
